<div class="container_self">
    <div class="upper_footer">
        <div class="link-container">
            <h6 class="footer-title">Home & Living</h6>
            <div class="items">
                <span><a href="#">BedSheet</a></span>
                <span><a href="#">Sofa Covers</a></span>
                <span><a href="#">Cottons Bedsheets</a></span>
                <span><a href="#">Decorative Items</a></span>
                <span><a href="#">Blankets</a></span>
                <span><a href="#">Home Temple</a></span>
            </div>
        </div>
        <div class="link-container">
            <h6 class="footer-title">Women's Ethnic Wear</h6>
            <div class="items">
                <span><a href="#">Sarees</a></span>
                <span><a href="#">Salwar Kameez</a></span>
                <span><a href="#">Lehengas</a></span>
                <span><a href="#">Kurtis</a></span>
                <span><a href="#">Anarkalis</a></span>
                <span><a href="#">Gowns</a></span>
                <span><a href="#">Palazzos</a></span>
                <span><a href="#">Skirts</a></span>
                <span><a href="#">Dupattas</a></span>
                <span><a href="#">Ethnic Jackets</a></span>
                <span><a href="#">Shararas</a></span>
            </div>
        </div>
        <div class="link-container">
            <h6 class="footer-title">Women Footwear</h6>
            <div class="items">
                <span><a href="#">Heels</a></span>
                <span><a href="#">Flats</a></span>
                <span><a href="#">Juttis</a></span>
                <span><a href="#">Sandals</a></span>
                <span><a href="#">Boots</a></span>
                <span><a href="#">Sneakers</a></span>
                <span><a href="#">Wedges</a></span>
                <span><a href="#">Slippers</a></span>
                <span><a href="#">Loafers</a></span>
                <span><a href="#">Ankle Boots</a></span>
                <span><a href="#">Platform Shoes</a></span>
            </div>
        </div>
        <div class="link-container">
            <h6 class="footer-title">Women's Accessories</h6>
            <div class="items">
                <span><a href="#">Handbags</a></span>
                <span><a href="#">Wallets</a></span>
                <span><a href="#">Jewelry</a></span>
                <span><a href="#">Belts</a></span>
                <span><a href="#">Scarves</a></span>
                <span><a href="#">Sunglasses</a></span>
                <span><a href="#">Hats</a></span>
                <span><a href="#">Gloves</a></span>
                <span><a href="#">Hair Accessories</a></span>
                <span><a href="#">Watches</a></span>
            </div>
        </div>
        <div class="link-container">
            <h6 class="footer-title">Makeup Items</h6>
            <div class="items">
                <span><a href="#">Foundation</a></span>
                <span><a href="#">Concealer</a></span>
                <span><a href="#">Powder</a></span>
                <span><a href="#">Blush</a></span>
                <span><a href="#">Eyeshadow</a></span>
                <span><a href="#">Eyeliner</a></span>
                <span><a href="#">Mascara</a></span>
                <span><a href="#">Lipstick</a></span>
                <span><a href="#">Lip Gloss</a></span>
                <span><a href="#">Highlighter</a></span>
            </div>
        </div>
        <div class="link-container">
            <h6 class="footer-title">Stationary Items</h6>
            <div class="items">
                <span><a href="#">Pencils</a></span>
                <span><a href="#">Pens</a></span>
                <span><a href="#">Notebooks</a></span>
                <span><a href="#">Paper</a></span>
                <span><a href="#">Staplers</a></span>
                <span><a href="#">Binders</a></span>
                <span><a href="#">Markers</a></span>
                <span><a href="#">Highlighters</a></span>
                <span><a href="#">Erasers</a></span>
                <span><a href="#">Rulers</a></span>
            </div>
        </div>
        <div class="link-container">
            <h6 class="footer-title">Men's Clothes</h6>
            <div class="items">
                <span><a href="#">Shirts</a></span>
                <span><a href="#">Pants</a></span>
                <span><a href="#">T-shirts</a></span>
                <span><a href="#">Jackets</a></span>
                <span><a href="#">Suits</a></span>
            </div>
        </div>
        <div class="link-container">
            <h6 class="footer-title">Men's Ethnic Wear</h6>
            <div class="items">
                <span><a href="#">Sherwanis</a></span>
                <span><a href="#">Kurtas</a></span>
                <span><a href="#">Dhotis</a></span>
            </div>
        </div>
    </div>
    <div class="middle_footer">
        <div class="middle_footer_main">
            <div class="middle_footer_about middle_footer_heading">
                <h3>About</h3>
                <div class="middle_footer_item">
                    <a href="#">Contact Us</a>
                    <a href="#">About Us</a>
                    <a href="#">Careers</a>
                    <a href="#">Mongoshop Stories</a>
                    <a href="#">Corporate Information</a>
                </div>
            </div>
            <div class="middle_footer_help middle_footer_heading">
                <h3>Help</h3>
                <div class="middle_footer_item">
                    <a href="#">Payments</a>
                    <a href="#">Shipping</a>
                    <a href="#">Cancellation % Returns</a>
                    <a href="#">Delivery</a>
                    <a href="#">FAQ</a>
                </div>
            </div>
            <div class="middle_footer_social middle_footer_heading">
                <h3>Reach out to us</h3>
                <div class="links">
                    <a href="#" class="social_link"><i class="fa-brands fa-facebook fa-2xl"></i></a>
                    <a href="#" class="social_link"><i class="fa-brands fa-instagram fa-2xl"
                            style="color: #aa1cf1;"></i></a>
                    <a href="#" class="social_link"><i class="fa-brands fa-youtube fa-2xl"
                            style="color: #ff0000;"></i></a>
                    <a href="#" class="social_link"><i class="fa-brands fa-x-twitter fa-2xl"
                            style="color: #000;"></i></a>
                </div>
            </div>
            <div class="middle_footer_contact middle_footer_heading">
                <h3>Registered Office Address</h3>
                <address class="company_add">
                    Mongoshop Internet Private Limited
                    <br>
                    Ganga Nagar, Near Divider Road,
                    <br>
                    IIMT University, Azad Hostel,
                    <br>
                    Room Number : 99, opposite swimming pool
                    <br>
                    Meerut City, 251002,
                    <br>
                    Uttar Pradesh, India
                </address>
            </div>
        </div>
    </div>
    <div class="lower_footer">
        <div class="lower_footer_info">
            <h4 class="mt-2">Mongoshop@ PVT LTD</h4>
            <h4 class="mb-2">Create by <i class="fa-solid fa-heart fa-sm" style="color: #ff0000;"></i> Vedansh Kumar</h4>
        </div>
    </div>
</div>