.navbar {
    z-index: 2 !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 80px !important;
    bottom: 20px !important;
}
.nav-self {
    display: flex !important;
}
.navbar-brand {
    margin-left: 1rem;
}
.search-container {
    width: 600px;
    margin-left: 7rem;
}

.search-flex {
    display: flex;
    width: 600px;
}
.auth-btns {
    margin-left: 18rem;
}
.btn a {
    color: #000 !important;
    text-decoration: none !important;
}

/* responsiveness */

